*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
img{
  display: block;
  width: 100%;
  height: auto;
}
body{
  background-color: #ededed;
  font-family: 'Asap',sans-serif;
  color:black;
  font-size: 16px;
  line-height: 1.8;
}
header{
  background-color: black;
  
}
.sidebar-right{
  background-color:#ededed;
}
h1,h2{
  color:red;
}
/* -------------Main Menu styleing------------------ */
.main-menu ul{
  list-style-type: none;

}
.main-menu ul a{
  text-decoration: none;
  color:black;
  padding:.6rem 1rem;
  font-weight: bold;
  display: block;
  transition: all .5s ease;
}
.main-menu ul a:hover{
  background-color: black;
  color:#f6d200;
}
/* -------------Main Menu styleing------------------ */
/* -----------start the header style----------------- */
.site-header{
  height: 400px;
  display: flex;
  flex-flow: column;
}
.site-info{
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.site-title{
  font-size: 2rem;
  text-align: center;
  color:white;
  font-weight: 300;
  text-transform: uppercase;
}
.site-description{
  font-size: 1.2rem;
  text-align: center;
  color:#f6d200;
  font-style: italic;
  margin-top:-.8rem;
}
.main-menu{
  /* padding:1rem; */
  color:black;
  background-color: #f6d200;
}
/* -----------End the header style------------------- */
/* ---------start the post styling------------------- */

.main-content{
  padding:2rem;
}
.post{
  background-color: white;
  margin-bottom: 1rem;
}
.post a{
  color:black;
  text-decoration: none;
}
.post-content{
  padding:0 40px 20px;
}
.post-content h2{
  background-color: #f6d200;
  padding: 20px;
  text-align: center;
  color:black;
  margin:0 -40px;
}
/* ----------End the post styling */
/* ------------watch section---------- */
.section-header{
  color:black;
  font-size: 3rem;
  text-align: center;
  padding:2rem 0;
}
.watch-card{
  margin-bottom: 1rem;
}
.watch-content{
  background-color: black;
  color:white;
  padding:3rem;
}
.watch-content h2{
  color:white;
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
}
.movie-info{
  font-weight: bold;
}
.movie-info span{
  padding-right: 1.5rem;
}
.movie-story{
  margin:1.5rem 0;
}
.movie-info a{
  font-weight: bold;
  color:white;

}
/* -------------watch section--------- */
/* --------------Download section-------- */
.download-card{
  margin-bottom: 1rem;
}
.download-content{
  display: flex;
  flex-flow: column;
  background-color: white;
}
.download-content a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color:white;
  text-decoration: none;
  text-transform: capitalize;
  padding:1rem 2rem;
}
.download-content a i{
  font-size: 2.5rem;
}
.download-info{
  padding:1rem 2rem;
}
.download-info h4{
  flex-basis: 20%;
}
.download-cast img{
  width:60px;
  height: 60px;
  border-radius: 50%;
}
.download-rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6d200;
  color:black;
  padding:1rem 2rem;
  font-size: .9rem;
  
}
.download-rating .rate{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: -.25rem;
}
.download-genre, .download-cast{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.download-genre{
  margin-bottom: 10px;
}

/* --------------Download section-------- */
/* --------------Gallery images----------- */
.gallery-imgs{
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
}
.gallery-img{
  height: 250px;
  flex-grow: 1;
  margin:0 0 8px 8px;
}
.gallery-img img{
  height: 100%;
  object-fit: cover;
} 
.gallery-img:nth-child(4n+1){
  flex-basis: 250px;
}
.gallery-img:nth-child(4n+2){
  flex-basis: 325px;
}
.gallery-img:nth-child(4n+3){
  flex-basis: 180px;
}
.gallery-img:nth-child(4n+4){
  flex-basis: 380px;
}
/* --------------Gallery images----------- */
/* --------------Sidebar ----------------- */
.sidebar-right{
  color:black;
  padding:2rem;
}
.widget{
  margin-bottom: 2rem;
  background-color: white;
}
.widget-content{
  padding:.5rem 4rem .5rem 2rem;
}
.sidebar-right ul{
  list-style-type: none;
  padding-right: 2rem;
}
.sidebar-right ul a{
  display: block;
  color: black;
  text-decoration: none;
  padding-bottom: .5rem;
  font-weight: bold;
}


/* --------------Sidebar ----------------- */

/* ---------------Footer------------------- */
.site-footer{
  background-color: black;
  color:white;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
/* ---------------Footer------------------- */

@media screen and (min-width:810px) {
  .main-menu ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
  }
  .main-menu ul li{
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
  }
  .posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .post{
    flex-basis: 49%;
  }
  .download-content{
    display: flex;
    flex-direction: row;
  }
  .download-content a, .download-rating{
    flex-grow: 1;
  }
  .download-info{
    flex-grow: 2;
  }
  
}

@media screen and (min-width:1120px) {
  .site-title{
    font-size: 4rem;
  }
  .content-area{
    display: flex;
  }
  .sidebar-right{
    flex:0 0 320px;
  }
  .post-half{
    flex-basis: 49%;
  }
  .post-one-third{
    flex-basis: 32%;
  }
  .post-full{
    flex-basis: 100%;
  }
}
@media screen and (min-width:810px) and (max-width:1120px) {
  .sidebar-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .widget{
    flex-basis: 48%;
  }
  
}